<!DOCTYPE html>
<html>
  <head>
    <title>Rural Dictionary</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/favicon.png') }}">
  </head>
  <body>
    <center>
      <a href="/">
	<img src="{{ url_for('static', filename='img/logo.png')  }}">
      </a>
      <form id="search" role="search" method="get" action="/define.php">
        <input type="search" id="term" name="term" placeholder="Search">
	<button>Go</button>
      </form>
      <a href="/random.php">Random</a>
    </center>
    <br>
    {% for defid, word, definition, example, author in data[0] %}
    
    <div class="{{ defid }}">
	<a href="/define.php?term={{ word }}">
	  <h2>{{ word }}</h2>
	</a>
	<p>{{ definition|safe }}</p>
	<p><i>{{ example|safe }}</i></p>
	<p>{{ author }}</p>
    </div>
    {% endfor %}
    {{ data[1]|safe }}
  </body>
  <footer>
    <hr>
    <p><a href="https://codeberg.org/zortazert/rural-dictionary/">Source code</a></p>
  </footer>
</html>
